button.detourrButton {
  background-color: transparent;
  position: absolute;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 30px;
  height: 30px;
  border-color: transparent;
  left: 10px;
  padding-top: 0px;
  padding-right: 6px;
}

button.detourrButton:hover {
  color: rgb(56, 56, 56);
}

button.detourrButton.resetButton {
  top: 15px;
  border: 5px;
}

button.detourrButton.panButton {
  top: 50px;
  border: 5px;
}

button.detourrButton.orbitButton {
  top: 85px;
  border: 5px;
}

button.detourrButton.selectButton {
  top: 120px;
  border: 5px;
}

button.detourrButton.brushButton {
  top: 155px;
  border: 5px;
}

button.detourrButton.exportButton {
  top: 225px;
  border: 5px;
}


button.detourrButton.unselected {
  color: rgb(75, 75, 75);
}

button.detourrButton.selected {
  color: rgb(44, 44, 240);
}

input.colourSelector {
  position: absolute;
  top: 190px;
  left: 13px;
  width: 22px;
  height: 22px;
}

.scatterWidgetContainer {
  position: relative;
  overflow: hidden;
}

.scatterWidgetCanvas {
  position: relative;
}

.selectionBox {
  border: 1px solid #55aaff;
  background-color: rgba(75, 160, 255, 0.3);
  position: absolute;
}

div.axisLabel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  font-family: Helvetica, Sans-serif;
  pointer-events: none;
}

div.detourrTooltip {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  visibility: hidden;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  user-select: none;
}

div.detourrTooltip.visible {
  visibility: visible;
}

div.timelineContainer {
  position: absolute;
  left: 10px;
  right: 10px;
}

div.timeline {
  position: absolute;
  left: 50px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 0;
}

div.scrubber {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: move;
  left: 0px;
  z-index: 1;
}

div.basisIndicator {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 0.5;
}

div.scrubber.active {
  cursor: move;
}
