button {
  background-color: transparent;
  position: absolute;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 30px;
  height: 30px;
  border-color: transparent;
  left: 10px;
}

button:hover {
  color: rgb(56, 56, 56);
}

button.playPauseButton {
  top: 10px;
}

button.resetButton {
  top: 45px;
  border: 5px;
}

button.panButton {
  top: 80px;
  border: 5px;
}

button.orbitButton {
  top: 80px;
  border: 5px;
}

button.selectButton {
  top: 115px;
  border: 5px;
}
button.selectButton.enabled {
  color: rgb(0, 0, 204);
}

button.selectButton.disabled {
  color: rgb(0, 0, 0);
}

.scatterWidgetContainer {
  position: relative;
}

.scatterWidgetCanvas {
  position: absolute;
}

.selectBox.enabled {
  border: 1px solid #55aaff;
  background-color: rgba(75, 160, 255, 0.3);
  position: fixed;
}
