button {
  background-color: transparent;
  position: absolute;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 30px;
  height: 30px;
  border-color: transparent;
}

button:hover {
  color: rgb(56, 56, 56);
}

button.playPauseButton {
  top: 10px;
  left: 10px;
}

button.resetButton {
  top: 45px;
  left: 10px;
}

.scatterWidgetContainer {
  position: relative;
}

.scatterWidgetCanvas {
  position: absolute;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 17px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch.orbitPan {
  top: 80px;
  left: 10px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}
